:root { 
--gray_600:#828282; 
--gray_400:#bcbcbc; 
--deep_purple_300_00:#9b6fee00; 
--blue_gray_100:#d7d7d7; 
--blue_A400:#3080ed; 
--gray_900:#1f1d2b; 
--gray_300:#e2e2e2; 
--gray_300_01:#e0e0e0; 
--gray_100:#f2f2f2; 
--blue_gray_800_14:#41305a14; 
--gray_400_01:#c4c4c4; 
--cyan_400_01:#18b2de; 
--blue_600_cc:#3081edcc; 
--purple_A200:#fb37ff; 
--blue_700_14:#3a81bf14; 
--indigo_300_00:#7b7fea00; 
--white_A700:#ffffff; 
--cyan_400:#1bb2de; 
--purple_400:#9b51e0; 
}